<!-- <button class="btn btn-primary">Click</button>

<table class="table table-bordered">
    <thead>
        <th>
            Body
        </th>
        <th>
            Id
        </th>
        <th>
            title
        </th>
        <th>
            userId
        </th>
 
    </thead>
    <tbody>
        <tr *ngFor="let item of jsonPlaceArray">
            <td>
                {{item.body}}
            </td>
            <td>
                {{item.id}}
            </td>
            <td>
                {{item.title}}
            </td>
            <td>
                {{item.userId}}
            </td>

        </tr>

    </tbody>
</table> -->


<table class="table">
    <thead>
        <tr>
            <th>
               CustomerID
            </th>
            <th>
                CustomerName
            </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of users">
            <td>
            {{item.Id}}
            </td>
            <td>
                {{item.Name}}
            </td>

        </tr>
    </tbody>
</table>